<header id="masthead" class="masthead text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <div class="img mb-5"></div>
    <!-- Masthead Heading-->
    <div>
      <h1 class="masthead-heading text-uppercase mb-0">Synenko Vladyslav</h1>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <p class="masthead-subheading font-weight-light mb-0">Full-Stack Developer</p>
    </div>
  </div>
  <div appParallax [ratio]="0.5" class="paralax-img"></div>
</header>
