.masthead {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;

  .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }

  .masthead-subheading {
    font-size: 1.25rem;
  }

  .masthead-avatar {
    width: 15rem;
  }

  .img {
    background-image: url(../../../assets/img/avatar.jpg);
    width: 204px;
    height: 204px;
    border-radius: 50%;
    background-size: 310%;
    background-position: 35% 50%;
    background-repeat: no-repeat;
    border: 2px solid;
  }

  .stars-container {
    display: flex;
    justify-content: space-between;
    min-width: 210px;
  }

  @media (min-width: 992px) {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;

    .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }

    .masthead-subheading {
      font-size: 1.5rem;
    }
  }
}
