<section class="page-section experience" id="experience">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Experience</h2>
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <div class="steps">
      <div class="steps-container">
        <div class="content"  data-aos="fade-up" data-aos-offset="200">
          <h2 class="heading">Full-Stack Developer at <a href="https://rozetka.com.ua/">Rozetka.ua</a></h2>
          <h2 class="subheading">Oct 2020 - Mar 2022 · 1 yr 6 mos</h2>
          <p>
            Working on the intranet project "Document Flow" based on "Creatio" platform.<br />
            <br />
            Technology stack:<br />
            C#<br />
            JavaScript<br />
            .NET<br />
            ADO.NET<br />
            WCF<br />
            ExtJS<br />
            Git<br />
            Selenium<br />
            SpecFlow<br />
          </p>
        </div>
        <i class="step-line"></i>
        <img class="logo" src="./assets/img/companies/rozetka.jfif"/>
      </div>
      <div class="steps-container">
        <div class="content"  data-aos="fade-up" data-aos-offset="200">
          <h2 class="heading">Full-Stack Developer at <a href="https://it4medicine.com.ua/">IT4Medicine</a></h2>
          <h2 class="subheading">Sep 2019 - Sep 2020 · 1 yr 1 mo</h2>
          <p>
            Participated in development of:<br />
            https://pb4.com.ua/ <br />
            https://liklik.com.ua <br />
            <br />
            Technology stack:<br />
            C#<br />
            Web API<br />
            PostgreSQL<br />
            Angular<br />
            TypeScript<br />
            HTML/CSS<br />
            GitLab<br />
          </p>
        </div>
        <i class="step-line"></i>
        <img class="logo" src="./assets/img/companies/it4m.jfif" />
      </div>
      <div class="steps-container">
        <div class="content"  data-aos="fade-up" data-aos-offset="200">
          <h2 class="heading">.NET Developer at <a href="https://edu.cbsystematics.com/ru">Cyberbionic Systematics</a></h2>
          <h2 class="subheading">Jul 2019 - Sep 2019 · 3 mos</h2>
          <p>
            Participated in development of:<br />
            http://testprovider.com<br />
            https://itvdn.com<br />
            http://skills.itvdn.com<br />
            http://edu.cbsystematics.com<br />
            Responsibilities:<br />
            Full cycle of development. Writing mostly Backend and partially Frontend (JavaScript code using JQuery)<br />
            Develop new functionalities on existing software products.<br />
            Design and implementation new features, bug fixing.<br />
            Technologies stack:<br />
            C#, ASP.NET MVC/Web API 2, EF6, MS SQL, JavaScript, JQuery, TFS.<br />
          </p>
        </div>
        <i class="step-line"></i>
        <img class="logo" src="./assets/img/companies/cyberbionic.jfif" />
      </div>
      <div class="steps-container">
        <div class="content"  data-aos="fade-up" data-aos-offset="200">
          <h2 class="heading">IT Tutor at <a href="https://edu.cbsystematics.com/ru">Cyberbionic Systematics</a></h2>
          <h2 class="subheading">Sep 2018 - Jul 2019 · 11 mos</h2>
          Responsibilities:<br />
          Conducting live and online lessons by C#, T-SQL languages and .NET frameworks.<br />
          Themes:<br />
          C#<br />
          T-SQL<br />
          Entity Framework<br />
          ASP.NET MVC<br />
        </div>
        <i class="step-line"></i>
        <img class="logo" src="./assets/img/companies/cyberbionic.jfif" />
      </div>
      <div class="steps-container">
        <div class="content"  data-aos="fade-up" data-aos-offset="200">
          <h2 class="heading">Students mentor at <a href="https://edu.cbsystematics.com/ru">Cyberbionic Systematics</a></h2>
          <h2 class="subheading">May 2018 - Oct 2018 · 6 mos</h2>
          <p>
            Responsibilities:<br />
            Accompaniment students through .NET Developer Course.<br />
            Answering questions.<br />
            Homework check.<br />
            Onboard new students.<br />
            Promote the company’s reputation as "the best place to study".<br />
          </p>
        </div>
        <i class="step-line"></i>
        <img class="logo" src="./assets/img/companies/cyberbionic.jfif"/>
      </div>
      <div class="steps-container">
        <div class="content"  data-aos="fade-up" data-aos-offset="200">
          <h2 class="heading">IT Recruiter at <a href="https://itvdn.com/ru">ITVDN</a></h2>
          <h2 class="subheading">Apr 2017 - May 2018 · 1 yr 2 mos</h2>
          <p>
            Responsibilities:<br />
            Designing and implementing the overall recruiting strategy.<br />
            Sourcing and attracting candidates by using databases, social media etc.<br />
            Conducting interviews and filtering candidates for open positions.<br />
            Screen candidates resumes and job applications.<br />
            Assess applicants relevant knowledge, skills, soft skills, experience, and aptitudes.<br />
            Monitor and apply HR recruiting best practices.<br />
            Act as a point of contact and build influential candidate relationships during the selection process.<br />
          </p>
        </div>
        <i class="step-line"></i>
        <img class="logo" src="./assets/img/companies/itvdn.jfif" />
      </div>
    </div>
  </div>
</section>
