.experience {
  background-color: white;
  transform: translateZ(0);

  .container {
    .step-line {
      width: 40px;
      height: 1px;
      margin-top: 31px;
      opacity: 0.4;
      flex-shrink: 0;

      @media(max-width: 992px) {
        width: 16px;
      }
    }

    .steps {
      position: relative;
      margin-top: 60px;

      &::after {
        content: "";
        position: absolute;
        width: 3px;
        top: 0;
        bottom: 0;
        left: 50%;
        border: 2px solid #2c3e50;
        border-radius: 5px;

        @media (max-width: 992px) {
          left: 32px;
        }
      }

      .steps-container {
        display: flex;
        position: relative;
        background-color: inherit;
        width: calc(50% + 32px);

        @media (max-width: 992px) {
          left: 0;
          flex-direction: row-reverse;
          width: auto;
          margin-top: 40px;
        }

        &:nth-child(even) {
          left: calc(50% - 32px);
          flex-direction: row-reverse;

          @media (max-width: 992px) {
            left: 0;
          }
        }

        .content {
          background-color: white;
          position: relative;
          border-radius: 20px;
          box-shadow: 0px 0px 10px #2c3e50;
          overflow: hidden;
          width: 100%;

          .header-container {
            background-color: #2c3e50;
            padding: 16px 32px;
            box-shadow: 0px 0px 10px -2px black;
            border-radius: 20px 20px 0px 0px;
            border-top: 1px solid white;
            border-right: 1px solid white;
            border-left: 1px solid white;

            @media(max-width: 992px) {
              padding: 16px;
            }

            h2 {
              font-weight: 600;
              font-size: 16px;
              color: #fff;

              &.subheading {
                margin-bottom: 0;
              }
            }
          }

          p {
            color: #676767;
            font-size: 16px;
            margin-bottom: 0px;
            padding: 32px;

            @media(max-width: 992px) {
              padding: 16px;
            }
          }
        }

        img.logo {
          height: 62px;
          min-width: 62px;
          z-index: 3;
          margin-top: 10px;
          transform: translateX(2px);
        }
      }
    }
  }
}
