.experience {
  background-color: white;
  transform: translateZ(0);
  overflow-x: hidden;

  .container {
    .steps {
      position: relative;

      @media(min-width: 992px) {
        margin-top: 60px;
      }

      &::after {
        content: "";
        position: absolute;
        width: 6px;
        top: 0;
        bottom: 0;
        left: 50%;
        border: 2px solid #2c3e50;
        border-radius: 5px;
        transform: translateX(-3px);

        @media (max-width: 992px) {
          left: 32px;
        }
      }

      .steps-container {
        display: flex;
        position: relative;
        background-color: inherit;
        width: calc(50% + 32px);
        z-index: 1;

        @media (max-width: 992px) {
          left: 0;
          flex-flow: column-reverse;
          width: auto;

          &:not(:nth-child(1)) {
            margin-top: 40px;
          }

          left: 0;
        }

        @media (min-width: 992px) {
          &:nth-child(even) {
            left: calc(50% - 32px);
            flex-direction: row-reverse;
          }

          &:nth-child(odd) {
            flex-direction: row;
          }
        }
      }
    }
  }
}
