<section class="page-section experience" id="experience">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Experience</h2>
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <div class="steps">
      <div class="steps-container">
        <div class="content" data-aos="fade-left" data-aos-delay="250" data-aos-duration="250">
          <div class="header-container" data-aos="fade-down" data-aos-delay="500">
            <h2 class="heading">Full-Stack Developer at <a href="https://rozetka.com.ua/">Rozetka.ua</a></h2>
            <h2 class="subheading">Oct 2020 - Mar 2022 · 1 yr 6 mos</h2>
          </div>
          <div class="main-content" data-aos="fade-up" data-aos-delay="500">
            Working on the intranet project "Document Flow" based on "Creatio" platform.<br />
            <br />
            Technology stack:<br />
            <ul>
              <li>C#</li>
              <li>JavaScript</li>
              <li>.NET</li>
              <li>ADO.NET</li>
              <li>WCF</li>
              <li>ExtJS</li>
              <li>Git</li>
              <li>Selenium</li>
              <li>SpecFlow</li>
            </ul>
          </div>
        </div>
        <i class="step-line"></i>
        <img class="logo" src="./assets/img/companies/rozetka.jfif" data-aos="flip-left" data-aos-delay="150" />
      </div>
      <div class="steps-container">
        <div class="content" data-aos="fade-right" data-aos-delay="250" data-aos-duration="250">
          <div class="header-container" data-aos="fade-down" data-aos-delay="500">
            <h2 class="heading">Full-Stack Developer at <a href="https://it4medicine.com.ua/">IT4Medicine</a></h2>
            <h2 class="subheading">Sep 2019 - Sep 2020 · 1 yr 1 mo</h2>
          </div>
          <div class="main-content" data-aos="fade-up" data-aos-delay="500">
            Participated in development of:<br />
            <a href="https://pb4.com.ua/">https://pb4.com.ua/</a> <br />
            <a href="https://liklik.com.ua">https://liklik.com.ua</a> <br />
            <br />
            Technology stack:<br />
            <ul>
              <li>C#</li>
              <li>Web API</li>
              <li>PostgreSQL</li>
              <li>Angliar</li>
              <li>TypeScript</li>
              <li>HTML/CSS</li>
              <li>GitLab</li>
            </ul>
          </div>
        </div>
        <i class="step-line"></i>
        <img class="logo" src="./assets/img/companies/it4m.jfif" data-aos="flip-right" data-aos-delay="150" />
      </div>
      <div class="steps-container">
        <div class="content" data-aos="fade-left" data-aos-delay="250" data-aos-duration="250">
          <div class="header-container" data-aos="fade-down" data-aos-delay="500">
            <h2 class="heading">.NET Developer at <a href="https://edu.cbsystematics.com/ru">Cyberbionic Systematics</a></h2>
            <h2 class="subheading">Jul 2019 - Sep 2019 · 3 mos</h2>
          </div>
          <div class="main-content" data-aos="fade-up" data-aos-delay="500">
            Participated in development of:<br />
            <a href="http://testprovider.com">http://testprovider.com</a><br />
            <a href="https://itvdn.com">https://itvdn.com</a><br />
            <a href="http://skills.itvdn.com">https://itvdn.com</a><br />
            <a href="http://edu.cbsystematics.com">https://itvdn.com</a><br />
            <br />
            Responsibilities:<br />
            Writing mostly Backend and partially Frontend (JavaScript code using JQuery library)<br />
            Develop new functionalities on existing software products.<br />
            Design and implementation new features, bug fixing.<br />
            <br />
            Technology stack:<br />
            <ul>
              <li>C#</li>
              <li>ASP.NET MVC</li>
              <li>Entity Framework</li>
              <li>MS SQL</li>
              <li>JavaScript</li>
            </ul>
          </div>
        </div>
        <i class="step-line"></i>
        <img class="logo" src="./assets/img/companies/cyberbionic.jfif" data-aos="flip-left" data-aos-delay="150" />
      </div>
      <div class="steps-container">
        <div class="content" data-aos="fade-right" data-aos-delay="250" data-aos-duration="250">
          <div class="header-container" data-aos="fade-down" data-aos-delay="500">
            <h2 class="heading">IT Tutor at <a href="https://edu.cbsystematics.com/ru">Cyberbionic Systematics</a></h2>
            <h2 class="subheading">Sep 2018 - Jul 2019 · 11 mos</h2>
          </div>
          <div class="main-content" data-aos="fade-up" data-aos-delay="500">
            Responsibilities:<br />
            Conducting live and online lessons by C#, T-SQL languages and .NET frameworks.<br />
            <br />
            Themes:<br />
            <ul>
              <li>C#</li>
              <li>T-SQL</li>
              <li>Entity Framework</li>
              <li>ASP.NET MVC</li>
            </ul>
          </div>
        </div>
        <i class="step-line"></i>
        <img class="logo" src="./assets/img/companies/cyberbionic.jfif" data-aos="flip-right" data-aos-delay="150" />
      </div>
      <div class="steps-container">
        <div class="content" data-aos="fade-left" data-aos-delay="250" data-aos-duration="250">
          <div class="header-container" data-aos="fade-down" data-aos-delay="500">
            <h2 class="heading">Students mentor at <a href="https://edu.cbsystematics.com/ru">Cyberbionic Systematics</a></h2>
            <h2 class="subheading">May 2018 - Oct 2018 · 6 mos</h2>
          </div>
          <div class="main-content" data-aos="fade-up" data-aos-delay="500">
            Responsibilities:<br />
            Accompaniment students through .NET Developer Course.<br />
            Answering questions.<br />
            Homework check.<br />
            Onboard new students.<br />
            Promote the company’s reputation as "the best place to study".<br />
          </div>
        </div>
        <i class="step-line"></i>
        <img class="logo" src="./assets/img/companies/cyberbionic.jfif" data-aos="flip-left" data-aos-delay="150" />
      </div>
      <div class="steps-container">
        <div class="content" data-aos="fade-right" data-aos-delay="250" data-aos-duration="250">
          <div class="header-container" data-aos="fade-down" data-aos-delay="500">
            <h2 class="heading">IT Recruiter at <a href="https://itvdn.com/ru">ITVDN</a></h2>
            <h2 class="subheading">Apr 2017 - May 2018 · 1 yr 2 mos</h2>
          </div>
          <div class="main-content" data-aos="fade-up" data-aos-delay="500">
            Responsibilities:<br />
            Designing and implementing the overall recruiting strategy.<br />
            Sourcing and attracting candidates by using databases, social media etc.<br />
            Conducting interviews and filtering candidates for open positions.<br />
            Screen candidates resumes and job applications.<br />
            Assess applicants relevant knowledge, skills, soft skills, experience, and aptitudes.<br />
            Monitor and apply HR recruiting best practices.<br />
            Act as a point of contact and build influential candidate relationships during the selection process.<br />
          </div>
        </div>
        <i class="step-line"></i>
        <img class="logo" src="./assets/img/companies/itvdn.jfif" data-aos="flip-right" data-aos-delay="150" />
      </div>
    </div>
  </div>
</section>
