<section class="page-section experience" id="experience">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Experience</h2>
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <div class="steps">
      <div class="steps-container">
        <div class="content">
            <h2>Full-Stack Developer at <a href="https://rozetka.com.ua/">Rozetka.ua</a></h2>
          <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
        </div>
        <i class="step-line"></i>
        <img class="logo" src="./assets/img/companies/rozetka.jfif"/>
      </div>
      <div class="steps-container">
        <div class="content">
          <h2>Full-Stack Developer at <a href="https://it4medicine.com.ua/">IT4Medicine</a></h2>
          <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
        </div>
        <i class="step-line"></i>
        <img class="logo" src="./assets/img/companies/it4m.jfif" />
      </div>
      <div class="steps-container">
        <div class="content">
          <h2>.NET Developer at <a href="https://edu.cbsystematics.com/ru">Cyberbionic Systematics</a></h2>
          <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
        </div>
        <i class="step-line"></i>
        <img class="logo" src="./assets/img/companies/cyberbionic.jfif" />
      </div>
      <div class="steps-container">
        <div class="content">
          <h2>IT Tutor at <a href="https://edu.cbsystematics.com/ru">Cyberbionic Systematics</a></h2>
          <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
        </div>
        <i class="step-line"></i>
        <img class="logo" src="./assets/img/companies/cyberbionic.jfif" />
      </div>
      <div class="steps-container">
        <div class="content">
          <h2>Students Mentor at <a href="https://edu.cbsystematics.com/ru">Cyberbionic Systematics</a></h2>
          <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
        </div>
        <i class="step-line"></i>
        <img class="logo" src="./assets/img/companies/cyberbionic.jfif"/>
      </div>
      <div class="steps-container">
        <div class="content">
          <h2>IT Recruiter at <a href="https://itvdn.com/ru">ITVDN</a></h2>
          <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
        </div>
        <i class="step-line"></i>
        <img class="logo" src="./assets/img/companies/itvdn.jfif" />
      </div>
    </div>
  </div>
</section>
